.contact-page {
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 3rem;
  }
}
