.main {
  display: flex;
  flex-direction: column;
  color: #fff;
  position: relative;
  background-color: $color-blue-dk;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;

  .bg-lines {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
  }

  .bg-dots {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: scale(1.2) translate(-50%, -50%);
    opacity: 0.5;
  }

  .bg-square {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    transform: scale(1.2);
    opacity: 0.3;
  }

  &-photo {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #b6dfffd6;
    margin: 5rem;
    z-index: 9;

    img {
      height: 25rem;
    }
  }
}

.profile-details {
  z-index: 9;
  h2 {
    font-size: 4rem;
    font-weight: 500;
  }
  p {
    margin-bottom: 3rem;
    font-weight: 100;
  }
  .contact {
    a:not(:last-child) {
      margin-right: 3rem;
    }
    img {
      height: 3rem;
    }
  }
}

.projects {
  background-color: $color-grey;
  height: 90rem;
  padding: 5rem;
}

.wrapper {
  width: 70%;
  margin: 0 auto;

  .category {
    margin-bottom: 2rem;
  }
}

.title-big {
  text-align: center;
  font-size: 5rem;
  text-shadow: 3px 3px 3px #4545452f;
  position: relative;

  &.dim {
    opacity: 0.2;
  }

  span {
    display: inline-block;
    position: absolute;
    font-size: 4rem;
    margin-left: 2rem;
  }

  &:hover {
    animation: flicker 0.5s;
    cursor: pointer;
    color: aqua;
  }
}

.lists {
  position: relative;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50rem;

  .floor {
    height: 3rem;
    width: 100%;
    background-color: $color-blue;
    position: absolute;
    bottom: -0.8rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    .shadow {
      height: 1rem;
      width: 50%;
      background-color: $color-grey;
      opacity: 0;
      filter: blur(0.3rem);
      border-radius: 50%;

      &.lightsOn {
        opacity: 0.5;
      }
    }

    &.lightsOn {
      background-color: $color-yellow;
    }
  }

  &.lightsOn {
    width: 100%;
    background-color: #fff;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  }

  .main-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    height: 50rem;

    .list-item {
      margin: 2rem auto auto;
      width: 75%;

      a {
        color: $color-blue-dk;

        &:hover {
          animation: flicker 0.3s;
          color: $color-grey;
        }
      }
    }
  }

  .tech-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    height: 50rem;

    .list-item {
      img {
        height: 8rem;
      }
    }
  }
}
