@media (max-width: 1250px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1100px) {
  .main {
    grid-template-columns: 1fr;

    .profile {
      display: grid;
      grid-template-columns: 2fr 3fr;
    }

    .projects {
      height: 80vh;
    }
    .title-big {
      font-size: 4rem;
    }
    .list-item {
      font-size: 85%;
    }
  }
}

@media (max-width: 800px) {
  .more {
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 550px) {
  .main {
    grid-template-columns: 1fr;

    .profile {
      display: grid;
      grid-template-columns: 2fr 3fr;
    }
  }

  .main {
    .profile {
      grid-template-columns: 1fr;
    }
  }
  .more {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}
