.section {
  width: 90%;
  min-height: 75vh;
  margin: 0 auto;
  color: $color-grey;
  margin-bottom: 3rem;
  h1 {
    color: $color-blue-dk;
    margin-bottom: 2rem;
  }
  h2 {
    font-weight: 400;
  }
  h3 {
    color: $color-blue;
    font-weight: 100;
    margin-bottom: 2rem;
  }
  span {
    color: $color-red;
    font-weight: 500;
  }
  .grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  button {
    background-color: $color-orange;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-blue-dk;
    padding: 1rem;
    border-radius: 50px;
    width: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.184);
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}
