//VARIABLES

$color-red: #ef6262;
$color-orange: #f3aa60;
$color-blue-dk: #1d5b79;
$color-blue: #225670;
$color-green-dk: #468b97;
$color-yellow: #f8fdcf;
$color-grey: #454545;

$serif-header: 'Roboto Slab', serif;
